body {
    font-family: sans-serif;
    background-color: rgb(163, 163, 163);
  }
  
  header {
    background-color:rgba(55, 255, 0, 0.705);
    padding: 1px;
    text-align: center;
  }
  nav ul{
    display: flex;
  }
  ul a{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    color: black;
   
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .courses, .employees {
    width: 45%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: rgba(55, 255, 0, 0.705);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  